<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#048204">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="/feed.xml">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <a href="/"  style="text-decoration:none; display: block; border-bottom: #FFFC dashed 1px;">
      <header class="page-header" role="banner">
      <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
      </header>
    </a>

    <main id="content" class="main-content" role="main">
      <div style="padding-top: 12px; padding-right: 12px; border: #FFFC dashed 1px; margin: 16px 0; font-size:10pt;">
        <ul>
        <li>
        Quotes and speeches are selected on the basis of their relevance and notability - whether they bring new information to a debate,
        are rhetorically interesting, or whether they are interesting in the context of their speaker.

        <ul><li>As such, more text from initial contributions is included.</li></ul>

        </li>

        <li>Omissions to speeches are noted by ellipses (...) but are otherwise as recorded in
        <a href="https://hansard.parliament.uk/">Hansard</a>.</li>

        <li>Not all speeches are selected here.</li>


        <li>Separate exchanges/speeches are denoted by horizontal lines.</li>

        </ul>
      </div>

      <h1>{{ page.title }}</h1>
      <span style="font-weight: bold; font-style: italic; opacity: 0.7; padding-right: 8px;">{{ page.date | split: " " | first }}</span>

      {{page.description}}

      {{ content }}
    </main>

    <footer style="border-top: #FFFC dashed 1px;">
      <div style="max-width: 64rem; margin: 0 auto; padding-top: 32px; margin-bottom: 64px;  padding-left: 8px;">
        Presenting the most notable speeches of the House of Commons and the House of Lords every week, without spin, and without the boring bits.
        <b>Know the debates of our time.</b>

        <br/> <br/>

        <a href="mailto:parliament@lilpete.me">parliament@lilpete.me</a>
      </div>
    </footer>
  </body>
</html>
